.jumble-cell input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  border: 1px solid black;
  outline: 0;
  caret-color: transparent;
  padding: 5px 0 0 0;
  text-transform: capitalize;
  cursor: pointer;
  margin: 5px;
}
.jumble-cell input:focus {
  /* background-color: rgb(200, 200, 200); */
  background-color: #70bbbb;
}
.jumble-cell input:disabled {
  background-color: black;
}

.jumble-cell-highlight {
  /* background-color: rgb(233, 233, 233); */
  background-color: #88dfdf;
}

.jumble-cell-locked {
  color: darkblue;
}

.jumble-cell-wrong {
  text-decoration: red line-through;
}

.jumble-cell {
  position: relative;
}