.jumble-img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumble-outer-div {
  padding: 20px;
}

.answer-blanks {
  display: flex;
  justify-content: center;
}

.answer-word-break {
  width: 30px;
  height: 40px;
}

.jumble-card-div {
  display: flex;
  justify-content: center;
  color: white;
}

.available-jumble-letters {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.available-jumble-letter {
  /* color: white; */
  margin-left: 10px;
  font-size: larger;
}

.answer-other-char {
  width: 10px;
  height: 40px;
  font-size: larger;
  font-weight: bolder;
  margin-top: auto;
  color: #88dfdf;
}