.jumble-img {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumble-outer-div {
  padding: 10px;
}

.answer-blanks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer-word-break {
  min-width: 30px;
  height: 40px;
}

.jumble-card-div {
  display: flex;
  justify-content: center;
  color: white;
}

.available-jumble-letters {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.available-jumble-letter {
  margin: 0px 5px;
  font-size: larger;
}

.available-jumble-used {
  /* color: #bdc1c6; */
  color: #595a5c;
  /* text-decoration: #595a5c line-through; */
}

.answer-other-char, .answer-quote {
  width: 10px;
  height: 40px;
  font-size: larger;
  font-weight: bolder;
  color: #88dfdf;
}

.answer-other-char {
  margin-top: auto;
}

.answer-quote {
  margin: 0px;
}

.answer-line-break {
  flex-basis: 100%;
  height: 0;
}

.jumble-refresh {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.jumble-refresh:hover {
  cursor: pointer;
}