.cell input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  border: 1px solid black;
  outline: 0;
  caret-color: transparent;
  padding: 5px 0 0 0;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0px;
}
.cell input:focus {
  /* background-color: rgb(200, 200, 200); */
  /* background-color: #5ca4a4; */
  background-color: #70bbbb;
}
input.cellDisabled {
  background-color: black;
  position: relative;
  z-index: 1;
}

.cellHighlight {
  /* background-color: rgb(233, 233, 233); */
  background-color: #88dfdf;
}

.cellLocked {
  color: darkblue;
}

.cellWrong {
  text-decoration: red line-through;
}

.cellUsedForJumble {
  /* background-color: lightgray; */
  /* border: 2px solid black !important; */
  --notchSize: 20%;
  
  clip-path: 
    polygon(
      0% var(--notchSize), 
      var(--notchSize) 0%, 
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      calc(100% - var(--notchSize)) 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
}

/* .cellHighlight.cellUsedForJumble {
  background-color: #70bbbb;
} */

.cell {
  position: relative;
  background-color: fuchsia;
}

.questionNumber {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -2px;
  padding: 0px 0px 0px 2px;
  font-size: 12px;
}