.clueList {
  list-style: none;
  margin: 5px 0px;
  padding: 10px;
  color: #bdc1c6;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.clues > h4 {
  margin: 5px;
  color: #bdc1c6;
  text-align: center;
}

.clueList > li {
  cursor: pointer;
  font-size: 14px;
}

.clueList > li.highlight {
  color: #88dfdf;
  animation: highlightText 0.5s ease-out forwards;
}

@keyframes highlightText {
  0% {
    font-size: 14px;
  }
  50% {
    font-size: 15px;
  }
  100% {
    font-size: 14px;
  }
}